<div>
  <app-pass>pass work</app-pass>
</div>
<div class="task_3">
  <br>
  <h1 fxLayoutAlign="center center">Задача_3</h1>
  <div class="atribute">
    <p appNgxHide>Test element (atribute directive)</p>
    <mat-checkbox [(ngModel)]="appNgxHide">Hide test element</mat-checkbox>
  </div>
  <div class="struct">
    <p *appStructuralNgxHide="appStructuralNgxHide"> Параграф структурной директивы</p>
    <mat-checkbox [(ngModel)]="appStructuralNgxHide">Hide test text (struct directory)</mat-checkbox>
  </div>
</div>
<div class="task_4">
  <br>
  <h1 fxLayoutAlign="center center">Задача_4</h1>
  <app-template-driving-form></app-template-driving-form>
</div>
<div class="task_4 item 8">
  <br>
  <h1 fxLayoutAlign="center center">Задача_4 пункт 8</h1>
  <app-reactive-form  ></app-reactive-form>
</div>


